<div class="upload_slot" id="%uploadId%">
    <div class="upload_label">
        sending %filename%
    </div>
    <div class="status_bar_container">
        <div class="status_bar_progress">
        </div>
    </div>
    <div class="status_and_options">
    </div>
</div>
