<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="./Tests/bootstrap.php" colors="true" forceCoversAnnotation="false">
    <testsuites>
        <testsuite name="DndFileUploadBundle test suite">
            <directory suffix="Test.php">./Tests</directory>
        </testsuite>
    </testsuites>
    <logging>
        <log type="coverage-clover" target="build/logs/clover.xml"/>
    </logging>
    <filter>
        <blacklist>
            <directory>./vendor</directory>
            <file>./Tests/AppKernel.php</file>
        </blacklist>
    </filter>
</phpunit>
